.TL{
    width:100%;
    height:49rem;
    clear:both;
    padding-top: 1rem;
    margin-bottom: 4rem;  
}
.topList{
    margin-left:1.5rem;
    margin-right:1.5rem;
}
.topList .a1{
    background:#c7e4ed;
}
.topList .a2{
    background:#f0db7f;
}
.topList .a3{
    background:#e3aabf;
}
.topList .a4{
    background:#ccebd0;
}
.topList .a5{
    background:#b495c9;
}
.topList+div{
    margin-left:75%;
    margin-top:3.5rem;
}
.topList+div img{
    height:1.5rem;
}
.TL ul.lists{
    list-style:none;
    float:left;
}
.lists{
    width:96%;
    margin-left:2.5rem;
    margin-top:3rem;
}
.lists .lists-item{
    margin-right:2rem;
    width:24%;
}
div.ban .item_left,div.ban1 .item_left,div.ban2 .item_left,div.ban3 .item_left,div.ban4 .item_left{
    background-size: contain;
    height:36rem;
    text-align: center;
}
div.ban .item_left{
    background:url("../img/toplist_bg1.jpg");
}
div.ban1 .item_left{
    background:url("../img/toplist_bg2.jpg");
}
div.ban2 .item_left{
    background:url("../img/toplist_bg3.jpg");
}
div.ban3 .item_left{
    background:url("../img/toplist_bg4.jpg");
}
div.ban4 .item_left{
    background:url("../img/toplist_bg5.jpg");
}
div.ban .item_right,div.ban1 .item_right,div.ban2 .item_right,div.ban3 .item_right,div.ban4 .item_right{
    display:none;
}
.item_left:hover{
    transform:scale(1.02);
}
.lists-item .item-songlist{
    text-align: left;
}
.item-title{
    margin:0;
    font-size:2rem;
    font-weight:300;
    margin-bottom:2rem;
}
.item-title a,.item-songlist li a{
    color:#212529;
}
.item-title a:hover,.item-songlist li a:hover{
    color:#000;
}
.list-title{
    margin:0;
    color:#f7f7f7;
    padding-top: 2rem;
    font-size:1.5rem;
    font-weight:500;
}
.item-songlist li{
    margin-left:0.5rem;
    margin-bottom: 1rem;
    font-size:1.2rem;

}
.item-songlist .s_artict{
    margin-left:1.3rem;
}
.item-songlist li:nth-child(5) img{
    height:1.2rem;
    margin-left:4.8rem;
    margin-top:5.5rem;
    opacity:0.5;
}
.item-songlist li:nth-child(5) img:hover{
    transition:all 0.5s;
    margin-top:6.3rem;
    opacity:1;
}